[defaults]
inventory = inventory/hosts.yml
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = default
timeout = 20

[ssh_connection]
ssh_args = -o IdentitiesOnly=yes -o StrictHostKeyChecking=yes -o UserKnownHostsFile=inventory/known_hosts -o ServerAliveInterval=15 -o ServerAliveCountMax=3
pipelining = True
