{% if ctrl_cpu_executor_url | default('') | length > 0 %}
RELIQUARY_GRADER_EXECUTOR_URL={{ ctrl_cpu_executor_url }}
RELIQUARY_GRADER_EXECUTOR_MODE={{ ctrl_cpu_executor_mode | default('shadow') }}
RELIQUARY_GRADER_RUNTIME_ID={{ ctrl_cpu_executor_runtime_id }}
RELIQUARY_GRADER_EXECUTOR_CA=/etc/reliquary/executor-client/ca.crt
RELIQUARY_GRADER_EXECUTOR_CERT=/etc/reliquary/executor-client/client.crt
RELIQUARY_GRADER_EXECUTOR_KEY=/etc/reliquary/executor-client/client.key
{% endif %}
{% if ctrl_signer_url | default('') | length > 0 %}
RELIQUARY_SIGNER_URL={{ ctrl_signer_url }}
RELIQUARY_SIGNER_EXPECTED_HOTKEY={{ ctrl_signer_expected_hotkey }}
RELIQUARY_SIGNER_CA=/etc/reliquary/signer-client/ca.crt
RELIQUARY_SIGNER_CERT=/etc/reliquary/signer-client/client.crt
RELIQUARY_SIGNER_KEY=/etc/reliquary/signer-client/client.key
{% endif %}
