CPU_EXECUTOR_IMAGE={{ cpu_exec_image_id }}
RELIQUARY_BUILD_REVISION={{ cpu_exec_image_revision }}
RELIQUARY_CPU_EXECUTOR_ID=cpu-exec-01
RELIQUARY_CPU_EXECUTOR_BIND_IP={{ cpu_exec_bind_ip }}
RELIQUARY_CPU_EXECUTOR_HOST={{ cpu_exec_bind_ip }}
RELIQUARY_CPU_EXECUTOR_PORT={{ cpu_exec_port | default(8443) }}
RELIQUARY_CPU_EXECUTOR_POOL_SIZE={{ cpu_exec_pool_size | default(16) }}
RELIQUARY_CPU_EXECUTOR_MAX_INFLIGHT={{ cpu_exec_max_inflight | default(16) }}
RELIQUARY_RUNSC_PLATFORM={{ cpu_exec_runsc_platform | default('kvm') }}
RELIQUARY_CPU_EXECUTOR_HOST_CPUS={{ cpu_exec_host_cpus | default('7.0') }}
RELIQUARY_CPU_EXECUTOR_HOST_MEMORY_LIMIT={{ cpu_exec_host_memory_limit | default('56g') }}
RELIQUARY_CPU_EXECUTOR_HOST_PIDS_LIMIT={{ cpu_exec_host_pids_limit | default(8192) }}
RELIQUARY_CPU_EXECUTOR_REUSE_WORKERS=0
RELIQUARY_CPU_EXECUTOR_TLS_CERT=/etc/reliquary/pki/server.crt
RELIQUARY_CPU_EXECUTOR_TLS_KEY=/etc/reliquary/pki/server.key
RELIQUARY_CPU_EXECUTOR_CLIENT_CA=/etc/reliquary/pki/ca.crt
RELIQUARY_CPU_EXECUTOR_PKI_DIR=/etc/reliquary/cpu-executor-pki
RELIQUARY_GRADER_RUNTIME_ID={{ cpu_exec_runtime_id }}
LOG_LEVEL=INFO
