{
  "icc": false,
  "ip-forward": false,
  "live-restore": true,
  "log-driver": "local",
  "log-opts": {
    "max-size": "20m",
    "max-file": "5"
  },
  "no-new-privileges": true,
  "userland-proxy": false
}
