{
  "bridge": "none",
  "iptables": false,
  "ip6tables": false,
  "icc": false,
  "live-restore": true,
  "log-driver": "local",
  "log-opts": {
    "max-size": "10m",
    "max-file": "3"
  },
  "no-new-privileges": true,
  "userland-proxy": false
}
