SIGNER_IMAGE={{ signer_image_id }}
RELIQUARY_SIGNER_PKI_DIR=/etc/reliquary/signer-pki
RELIQUARY_SIGNER_WALLET_DIR=/var/lib/reliquary-signer/wallets
RELIQUARY_SIGNER_STATE_DIR=/var/lib/reliquary-signer/state

BT_NETWORK={{ signer_network }}
BT_NETUID={{ signer_netuid }}
BT_WALLET_NAME={{ signer_wallet_name }}
BT_HOTKEY={{ signer_hotkey_name }}
BT_WALLET_PATH=/var/lib/reliquary-signer/wallets
RELIQUARY_SIGNER_EXPECTED_HOTKEY={{ signer_expected_hotkey }}
RELIQUARY_SIGNER_REPO_ID={{ signer_repo_id }}
{% if signer_axon_ip | default('') | length > 0 %}
RELIQUARY_SIGNER_AXON_IP={{ signer_axon_ip }}
RELIQUARY_SIGNER_AXON_PORT={{ signer_axon_port }}
{% endif %}
RELIQUARY_SIGNER_HOST={{ signer_bind_ip }}
RELIQUARY_SIGNER_PORT={{ signer_port | default(8444) }}
RELIQUARY_SIGNER_TLS_CERT=/etc/reliquary/pki/server.crt
RELIQUARY_SIGNER_TLS_KEY=/etc/reliquary/pki/server.key
RELIQUARY_SIGNER_CLIENT_CA=/etc/reliquary/pki/ca.crt
RELIQUARY_SIGNER_JOURNAL=/var/lib/reliquary-signer/state/signer.sqlite3
RELIQUARY_SIGNER_HEALTH_FILE=/tmp/reliquary-signer-health.json
LOG_LEVEL={{ signer_log_level | default('INFO') }}
